* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

#the-night-cafe {
    width: 100%;
    height: 100%;
    display: flex;
}

body {
    height: 100vh;
    background: #E5E5E5;
    color: #000000;
    font: 1.4rem 'Inter', sans-serif;
    text-transform: uppercase;
}